.header1 {
    width: 100%;
    background-color: rgba(0,0,0, 0.6);
    display: inline-block;
}

.header1 ul{
    text-align: left;
}

.header1 ul li{
    list-style: none;
    display: inline-block;
}

.header1 a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Cormorant SC', serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* transition: all ease 0.5s; */
}

.userops {
    float: right;
    list-style: none;
    margin-top: 16px;
  }
  .userops li{
    display: inline-block;
  }
  .userops li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Cormorant SC', serif;
    font-weight: bolder;
  }
  .userops li a:hover {
    background: #fff;
    color: rgb(83, 83, 83);
  }


a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: rgb(68, 68, 68);
}


h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
    outline: none;
    display: inline-block;
    background-color: rgb(50, 50, 50);
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;
    
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
    background-color: #bbb;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: rgb(50, 50, 50);
	/* border-color: #66CC75; */
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: rgb(50, 50, 50);
}
input::-webkit-input-placeholder {
	color: #999;
}

.imageAlign {
    display:inline-block;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.button {
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(75, 75, 75);
  }
  
  .button:hover {
    background-color:rgb(75, 75, 75);
    color: white;
  }
