* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EFEEEE;
}
h1 {
  font-size: 70px;
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
  text-align: center;
  color:white;
}
h3 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: bolder;
    font-size: 40px;
    color:white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
  text-align: right;
  display: block;
}
.header {
  margin-top: 0;
  background: url("../img/mainheader.jpg");
  height: 100vh;
  background-size: cover;
}
.userops {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.userops li{
  display: inline-block;
}
.userops li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
}
.userops li a:hover {
  background: #fff;
  color: #333;
}
.search_container {
  padding-top: 20px;
  padding-bottom: 70px;
  position: relative;
}
.search_container p{
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
  font-size: 50px;
}
#sumLink {
  text-align: center;
  display: block;
  font-family: 'Cormorant SC', serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 50px;
  margin-right: 60px;
}
#sumLink:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

#sumLink:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}
#sumLink:hover {
  color: #aaa9ad;
  text-decoration: none;
}

#sumLink:active {
  color: #F9F8F8;
  background-color: transparent;
  text-decoration: none;
}
#search_thing {
  display: flex;
  padding-left: 10px;
  /* box-sizing: border-box; */
  width: 600px;
  height: 50px;
  border-width: 4px;
  /* border: 2px solid #878787; */
  /* box-shadow: 0 4px 0 0 #878787; */
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background: transparent;
  /* border-radius: 1.5em; */
  /* box-shadow: 0 0 0 0.1em #6A6A6A; */
  outline-color: transparent;
}

#search_btn {
	cursor: pointer;
  /* border-radius: 50%; */
  box-shadow: 0 0 0 0.1em #f1f1f1;
  /* box-sizing: border-box; */
  width: 35px;
  height: 35px;
  /* border: 2px solid #878787;
  box-shadow: 0 4px 0 0 #878787;
  margin-left: auto;
  margin-right: auto; */
  /* outline-color: transparent; */
  font-size: 20px;
  transform: translate(276px, -43px);
}
/* #search-btn:focus {
	outline: transparent;
} */
.type_header {
    display: flex;
    direction: row;
    justify-content: space-around;
}
.summary3 {
  position: relative;
  display: flex;
  height: 320px;
  padding: 1%;
}
.summary4 {
  position: relative;
  display: flex;
  height: 320px;
  padding: 1%;
}
#r {
  margin-left: 7%;
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#h {
  margin-left: 3%;
  margin-right: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#c {
  margin-left: 7%;
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#b {
  margin-left: 3%;
  margin-right: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.texticon1 {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-950px, 50px);
}
.texticon2 {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-800px, 50px);
}
.texticon3 {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-820px, 60px);
}
.texticon4 {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(-660px, 60px);
}
/* .summary1 {
  width:auto;
  height:320px;
  padding: 1%;
}
.imageicon1 {
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary2 {
  width:auto;
  height:320px;
  padding:1%;
}
.imageicon2 {
  float:right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
h4 {
  text-align: center;
  font-size: 40px;
}
/* .summary1 {
  background-color: #DFDCDB;
}
.summary2 {
  background-color: #F7F4F3;
} */
footer {
  margin-top: 200px;
  height: 300px;
  background-color: #2f3540;
}
footer p1 {
  padding-left: 50px;
  color: azure;
  font-family: 'Cormorant SC', serif;
  font-size: 50px;
}
