* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 70px;
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
  text-align: center;
  color:white;
}
h3 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: bolder;
    font-size: 40px;
    color:white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
  text-align: right;
  display: block;
}
.header {
  margin-top: 0;
  background: url("../img/mainheader.jpg");
  height: 100vh;
  background-size: cover;

}
.userops {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.userops li{
  display: inline-block;
}
.userops li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
}
.userops li a:hover {
  background: #fff;
  color: #333;
}
#sumLink {
  text-align: center;
  display: block;
  font-family: 'Cormorant SC', serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 70px;
  margin-right: 60px;
}
#sumLink:link {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
}

#sumLink:visited {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
}

#sumLink:hover {
  color: #636262;
  background-color: transparent;
  text-decoration: none;
}

#sumLink:active {
  color: #F9F8F8;
  background-color: transparent;
  text-decoration: none;
}
#search_thing {
  box-sizing: border-box;
  width: 600px;
  height: 50px;
  border: 2px solid #878787;
  box-shadow: 0 4px 0 0 #878787;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#search_btn {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid #878787;
  box-shadow: 0 4px 0 0 #878787;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.type_header {
    display: flex;
    direction: row;
    justify-content: space-around;
}
.summary1 {
  width:auto;
  height:320px;
  padding: 1%;
}
.imageicon1 {
  float:left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.summary2 {
  width:auto;
  height:320px;
  padding:1%;
}
.imageicon2 {
  float:right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h4 {
  text-align: center;
  font-size: 40px;
}
.summary1 {
  background-color: #DFDCDB;
}
.summary2 {
  background-color: #F7F4F3;
}
