body{
  background-color: rgb(238, 234, 234);
}
h1{
  padding-left: 45px;
  font-family: 'Cormorant SC', serif;
  font-size: 45px;
}

 .itembox {
  border-radius: 6px;
  width: 80em;
  border: 2px solid #d9d9d9;
  padding: 8px 12px;
  background-color: white;
 }
 .itembox:hover{
  box-shadow: 2px 2px 5px #d9d9d9;
 }

  .header1 {
      width: 100%;
      background-color: #2f3540;
      display: inline-block;
  }

  .header1 ul{
      text-align: left;
  }

  li{
    list-style-type: none;
    display: inline-block;
  }

  .header1 a {
      display: inline-block;
      text-decoration: none;
      color: rgb(37, 37, 37);
      font-size: 16px;
      font-family: 'Cormorant SC', serif;
      letter-spacing: 2px;
      font-weight: 600;
      padding: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      /* transition: all ease 0.5s; */
  }

  .userops {
      float: right;
      list-style: none;
      margin-top: 16px;
    }
    .userops li{
      display: inline-block;
    }
    .userops li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
      font-family: 'Cormorant SC', serif;
      font-weight: bolder;
    }
    .userops li a:hover {
      background: #fff;
      color: #333;
    }

    .userops_2 {
      float: left;
      list-style: none;
      margin-top: 16px;
      font-family: 'Cormorant SC', serif;
      font-weight: bolder;
    }
    .userops_2 li{
      display: inline-block;
    }
    .userops_2 li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 20px;
      font-family: 'Cormorant SC', serif;
      font-weight: bolder;
    }
    .userops_2 li a:hover {
      background: #fff;
      color: #333;
    }

  /* a {
  	color: rgb(63, 63, 63);
  	text-decoration: none;
  } */
  /* a:hover {
  	color: rgb(37, 37, 37);
  } */

  input {
      outline: none;
      display: inline-block;
      background-color: rgb(50, 50, 50);
  }
  input[type=search] {
  	-webkit-appearance: textfield;
  	-webkit-box-sizing: content-box;
  	font-family: inherit;
      font-size: 100%;

  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
  	display: none;
  }

  input[type=search] {
      background-color: #bbb;
  	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  	border: solid 1px #ccc;
  	padding: 9px 10px 9px 32px;
  	width: 55px;

  	-webkit-border-radius: 10em;
  	-moz-border-radius: 10em;
  	border-radius: 10em;

  	-webkit-transition: all .5s;
  	-moz-transition: all .5s;
  	transition: all .5s;
  }
  input[type=search]:focus {
  	width: 130px;
  	background-color: #ccc;
  	/* border-color: #66CC75; */

  	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  	box-shadow: 0 0 5px rgba(109,207,246,.5);
  }

  input:-moz-placeholder {
  	color: rgb(50, 50, 50);
  }
  input::-webkit-input-placeholder {
  	color: rgb(175, 175, 175);
  }

  footer {
    margin-top: 200px;
    height: 300px;
    background-color: #2f3540;
  }
  footer p1 {
    padding-left: 50px;
    color: azure;
    font-family: 'Cormorant SC', serif;
    font-size: 45px;
  }
