<!DOCTYPE html>

<html>
  <title>Friend Circle</title>
<head>
</head>

<body>
  <ul>

    {% if comment_list %}
      {% for c in comment_list %}
      <li>
        <div class=itembox>
          <p style="font-size: 20"><b>{{ c.userID }}</b></p>
          <p><b>Place:</b>{{c.placeName}}</p>
          <p><b>Rating:</b>{{c.rating}}</p>
          <p><b>Comments:</b>{{c.comments}}</p>
        </div>
      </li>
      {% endfor %}
    {% else %}
      <p>Could not find matching results in database!</p>
    {% endif %}

  </ul>
</body>

</html>
