<!DOCTYPE html>
<html>
  <head lang="en">
  <title>login page</title>
  <style>
    h1 {
      text-align:center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .login_page {
      text-align:center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
  </head>
  <body>

  <h1>Log In</h1>
  <div class="login_page">
    <form action="." method="post">
      {% csrf_token %}
      <div class="login_header">
          <img src="../static/img/cutie.png" alt="Cutieee" class="cutieee" width="50" height="50">
      </div>

      <div class="loginpage">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username" required><br><br>

        <label for="password"><b>Password</b></label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button><br><br>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="loginpage" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="https://www.google.com">password?</a></span>
      </div>
    </form>
  </div>

  </body>
</html>
