<!DOCTYPE html>
<html>
  <head lang="en">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/mpstyle.css">

  <title>Rate U of I</title>
  </head>
  <body>

  <div class="header">

    <ul class="userops">
    {% if user.is_authenticated %}
      <li><a id="uops" href="{% url 'add_friend' %}" style="font-size: 16px">Add Friend</a></li>
      <li><a id="uops" href="{% url 'profile' %}" style="font-size: 16px">Profile</a></li>
      <li><a id="uops" href="{% url 'logout' %}" style="font-size: 16px">Log out</a></li>
    {% else %}
      <li><a id="uops" href="{% url 'login' %}" style="font-size: 16px">Log In</a></li>
      <li><a id="uops" href="{% url 'signup' %}" style="font-size: 16px">Sign Up</a></li>
    {% endif %}
    </ul>

    <br><br><br><br><br><br>
    <h1>Rate UofI</h1>
    <h3>With Rate U of I, discover quality life.</h3>

  </div>

  <br><br><br><br><br><br>
  <!--search bar-->
  <div class="search_container">
    <form style="text-align:center;" action="/search/">
      {% csrf_token %}
      <label for="fname">Search:</label>
      <input type="search" id="search_thing" name="search_content" placeholder="Search..." >
      <button type="submit" id="search_btn"><i class="fa fa-search" style="color:#878787"></i></button>
    </form>

  <!--Click the "Submit" button and the form-data will be sent to a page on the server called "action_page.php". -->

        <p style="text-align: center; font-size: 20px;"><i><b>Insert recommendation below</b></i></p>
        <img src="../static/img/cat2.JPG" alt="sample_image", width = 260, height = 260>
        <p style="text-align: center;">和大佬达成共识.jpg</p>
  <h3>Recent Posts</h3>
  <div class='summary1'>
      <div class='imageicon1'>
          <img src="../static/img/restaurant.jpg", alt="restaurant", width = 500px, height=320px;>
      </div>
      <div class='texticon1'>
      <br><br><br><br><br>
      <!-- Restaurant should be a link, will fix later -->
      <a href="{% url 'restaurant_summary' %}" id="sumLink">Restaurant</a>
      </div>
  </div>


  <div class='summary2'>
      <div class='imageicon2'>
          <img src="../static/img/hotel.JPG", alt="hotel", width = 500px, height=320px;>
      </div>
      <div class='texticon2'>
      <br><br><br><br><br>
      <!-- Hotel should be a link, will fix later -->
      <a href="{% url 'hotel_summary' %}", id="sumLink">Hotel</a>
      </div>
  </div>

  <div class='summary1'>
      <div class='imageicon1'>
          <img src="../static/img/cafe.jpeg", alt="cafe", width = 500px, height=320px;>
      </div>
      <div class='texticon1'>
      <br><br><br><br><br>
      <!-- Cafe should be a link, will fix later -->
      <a href="{% url 'cafe_summary' %}", id="sumLink">Cafe</a>
      </div>
  </div>

  <div class='summary2'>
      <div class='imageicon2'>
          <img src="../static/img/nightbar.jpg", alt="bar", width = 500px, height=320px;>
      </div>
      <div class='texticon2'>
      <br><br><br><br><br>
      <!-- Night Bar should be a link, will fix later -->
      <a href="{% url 'nightbar_summary' %}", id="sumLink">Night Life</a>
      </div>
  </div>

  <footer>
    <p style="text-align:center;">About Us</p>
  </footer>
  </body>
</html>
