<!DOCTYPE html>
<html>
  <head lang="en">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
  <link link rel="stylesheet" href="static/css/mpstyle1.css">

  <title>Rate U of I</title>
  </head>
  <body>

  <div class="header">

    <ul class="userops">
    {% if user.is_authenticated %}
      <li><a id="uops" href="{% url 'add_friend' %}" style="font-size: 16px">Add Friend</a></li>
      <li><a id="uops" href="{% url 'profile' %}" style="font-size: 16px">Profile</a></li>
      <li><a id="uops" href="{% url 'logout' %}" style="font-size: 16px">Log out</a></li>
    {% else %}
      <li><a id="uops" href="{% url 'login' %}" style="font-size: 16px">Log In</a></li>
      <li><a id="uops" href="{% url 'signup' %}" style="font-size: 16px">Sign Up</a></li>
    {% endif %}
    </ul>

    <br><br><br><br><br><br>
    <h1>Rate UofI</h1>
    <h3>With Rate U of I, discover quality life.</h3>

  </div>

  <br><br><br><br><br><br>

  <!--search bar-->
  <div class="search_container">
    <form style="text-align:center;" action="/search/">
      <p>Search</p>
      {% csrf_token %}
      <label for="fname">Search:</label>
      <input type="search" id="search_thing" name="search_content" placeholder="Search..." >
      <button type="submit" id="search_btn"><i class="fa fa-search" style="color:#878787"></i></button>
    </form>
  </div>

  <!--Click the "Submit" button and the form-data will be sent to a page on the server called "action_page.php". -->


  <div class='summary3'>
      <img src="../static/img/restaurant.jpg", id="r" alt="restaurant", width = 500px, height=320px;>
      <img src="../static/img/hotel.JPG", id="h" alt="hotel", width = 500px, height=320px;>
      <div class='texticon1'>
        <a href="{% url 'restaurant_summary' %}" id="sumLink">Restaurant</a>
      </div>
      <div class='texticon2'>
        <a href="{% url 'hotel_summary' %}", id="sumLink">Hotel</a>
      </div>

  </div>

  <div class='summary4'>
      <img src="../static/img/cafe.jpeg", id="c" alt="cafe", width = 500px, height=320px;>
      <img src="../static/img/nightbar.jpg", id="b" alt="bar", width = 500px, height=320px;>
      <div class='texticon3'>
        <a href="{% url 'cafe_summary' %}", id="sumLink">Cafe</a>
      </div>
      <div class='texticon4'>
        <a href="{% url 'nightbar_summary' %}", id="sumLink">NightLife</a>
      </div>

  </div>

  <footer>
    <br><br>
    <p1 style="text-align:left;">About Us</p1>
    <p2 style="text-align:right;">ajfhaskdhfj</p2>


  </footer>
  </body>
</html>
