<!DOCTYPE html>
<html lang="en">
<head>
  <title>Place Detailed Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link link rel="stylesheet" href="/static/css/detailed.css">
  <style></style>
</head>
<body>

    
    <div class = "header1">
          <a href="{% url 'index' %}">HOME</a>
          <a><input type="search" placeholder="Search"></a>

          <div class="userops">
            {% if user.is_authenticated %}
              <li><a id="uops" href="{% url 'add_friend' %}" style="font-size: 14px">Add Friend</a></li>
              <li><a id="uops" href="{% url 'profile' %}" style="font-size: 14px">Profile</a></li>
              <li><a id="uops" href="{% url 'logout' %}" style="font-size: 14px">Log out</a></li>
            {% else %}
              <li><a id="uops" href="{% url 'login' %}" style="font-size: 14px">Log In</a></li>
              <li><a id="uops" href="{% url 'signup' %}" style="font-size: 14px">Sign Up</a></li>
            {% endif %}
          </div>
    </div> 

      <br><br><br>

      <div style="display:inline-block;">
        {% load static %}
          <img src="{% static img %}" alt="Thumbnail" width=500px height=350px><br><br>
          <!-- <img src="../static/img/dog.jpg" alt="Thumbnail" width=500px height=350px><br><br> -->
      </div>  
      <div class = "imageAlign">
        <h2 style="text-align: center;">{{place.placeName}}</h2><br><br>
        <p style="text-align: center;"><b>Average Rating: </b>{{place.rating}}</p>
        <p style="text-align: center;"><b>Location: </b>{{place.vicinity}}</p>
        <p style="text-align: center;"><b>Price Level: </b>{{place.price_level}}</p>
        <p style="text-align: center;"><b>Status: </b>{{place.business_status}}</p>
    </div>
      
    <hr>

    <div style="padding-left: 25px; padding-right: 25px;">
      <form action="." method="POST">
        {% csrf_token %}
        <label for="rate">Rate this place:</label><br>
          <select name='rate' required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select><br><br>
          <button type="submit" class="button">Submit</button>
      </form><br>
      <h4 style="font-family: Lucida Console;"><b>Leave a Comment:</b></h4><br>
      <form role="form" action='.' method="POST">
      {% csrf_token %}
        <div class="form-group">
          <textarea class="form-control" rows="4" name='comment_content' required></textarea>
        </div>
        <button type="submit" class="button">Submit</button>
      </form>
      <br><br>
      
      <p> Comments:</p><br>
      {% if comment_list %}
      {% for c in comment_list %}
        <li>
          <div class=itembox>
            <p><b>{{ c.username }}</b></p>
            <p>{{ c.user_comment }}</p>
            {% if user.username == c.username %}
            <form action='.' method="POST">
              {% csrf_token %}
              <p><input type='submit' value="delete" name='delete' /></p>
            </form>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      {% endif %}
    </div>  
    
  </div>
</div>

<footer class="container-fluid">
  <a href="{% url 'index' %}" style="font-size: 16px; text-align: center;">About Us</a>
</footer>

</body>
</html>